body{margin : 0px;

}

#top{
    position: relative;
    left: 35%;
    width: 57%;

background-color: rgb(216, 83, 34);
border: darkcyan;
border-style: solid;
border-width: 1px;
/* margin-left:35%;
padding-left: 5%; */


}
#bottom{

    width: 50%;
    background-color: darkorange;
    border: darkviolet;
     border-style:solid ;
     margin-left:35% ;
    margin-top: 30%;
    


}
h2{font-family: 'Lobster', cursive;

}