header{
    color: white;
    background-color: darkorchid;
    font-size: 10px;
    
      
    

}
#mi{
text-align: end;

}
div{

    color: mediumslateblue;
    text-align: start;
}
#mii{
    color: black;
    text-align: end;


}